@charset "utf-8";

*{padding: 0; margin: 0;}

/*body{height: 5000px;}*/


/*--------------------------------header---------------------------------*/
#form-control{
	border-width: 0;
	background-color: #D1DFFB;
}

#form-control:focus{
	background-color: #D1DFFB;
	box-shadow: 0 0 0;
}

.d-flex-border{
	border: solid;
	border-width: 1px;
	border-radius: 15px;
	background-color: #D1DFFB;
}

.header{
	background-color: #054E4E;
	top: 0;
	display: block;
	transition: top 0.3s;
	padding-bottom: 0;
}

#form-select-lang {
	border: none;
	border-radius: 12px;
	background-color: #FFB82F;
}

.form-select-lang:focus{
	box-shadow: 0 0 0;
}

#yellow{
	background-color: #FFB82F ;
}

.nav-link-hover{
	color: #fff;
	text-decoration: none;
}

.nav-link-hover-black{
	color: #000;
	margin: 10px;
	text-decoration: none;
  }

.nav-link-hover:hover{
	color: #FFB82F ;
}

.nav-link-hover-black:hover{
   color: #FFB82F ;
}

.nav-link-hover-black{
	color: #000;
	margin: 10px;
	text-decoration: none;
}

.nav-link-hover-white{
	color: #fff;
	text-decoration: none;
}

.nav-link-hover-white2{
	color: #FFB82F ;
	text-decoration: none;
}

.sub-menu{
 	list-style-type: none;
}

.sub-menu li{
	 margin-top: 3px; 	
}

.sub-menu-hover li{
	margin-top: 10px;
}

.sub-menu-hover li i{
	display: none;
}

.sub-menu-hover li div:hover{
	background-color: #FFB82F;
	border-radius: 10px;
	padding: 2px;
}

.sub-menu-hover li:hover i{
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;

	/*	english*/
	/*	transform: rotate(180deg);*/
	/*	english*/
}


#button-menu1{
	outline: solid 1px;
	outline-color: #FFB82F;
	color: #fff;
	border-radius: 12px;
}

#button-menu1:hover{
	background-color: #FFB82F;
}

#button-menu2{
	border-radius: 12px;
	background-color: #FFB82F ;
}

#logo-menu{
	width: 20%;	
}

#i-menu , #i-menu2{
	font-size: 2em;
}

#button-toggler-menu{
	padding: 1px;
	margin-top: 1%;
}

.sub-menu-show{
	display: none;
}


.li-responsive-toggle{
transform: rotate(180deg);

}





/*-----------------------------------main-----------------------------------*/



/*-----------------sec2--------------------*/

#sec2{
	padding: 0 5%;
}

.features-box{
	background: #FFF;
	box-shadow: 0px 4px 10px 2.45534px rgba(156, 203, 248, 0.2);
	border-radius: 34px;
}

.features-box-title{
	color: #4077E2;
	font-size: 1.3rem;
	font-weight: bold;
}


/*-----------------sec3--------------------*/

#sec3{
	background-color: #E5E5E5;
	padding: 1%;
}

.sub-menu2{
	list-style-type: none;
}


.sub-menu-hover2{
	margin-top: 20px;
}


.sub-menu-hover2 i{
	display: none;
}


.sub-menu-hover2 div:hover{
	background-color: #FFB82F;
	border-radius: 10px;
	padding: 5px 5px 7px 2px;
}

.sub-menu-hover2 div:hover i{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;

}


#dastrasi-sari-formcontrol{
	border-width: 0;
	background-color: #fff;
}


 #dastrasi-sari-formcontrol:focus{
	background-color: #fff;
	box-shadow: 0 0 0;
}

.dastrasi-sari-form{
	border-radius: 5px;
	background-color: #fff;
}

.form-parag{
	margin: 0;
	font-weight: bolder;
	margin-top: 15px;
}

.dastrasi-sari-grid , .dastrasi-sari-grid-active{margin: 0;padding: 0;}
.dastrasi-sari-grid .col , .dastrasi-sari-grid-active .col{
	background-color: #054E4E;
	border-radius: 12px;
	padding: 2px 1px;
	color: #fff;
	text-align: center;
}


.swiper {
	width: 100%;
	margin-bottom: 15px;
}

.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
 }

#swiper-slide div{
	width: 20%;
}

.swiper-slide:hover {
	background-color: #FFB82F;
	border-radius: 12px;
	padding: 1px 0 3px 0;
}





/*-----------------------------------footer-----------------------------------*/
footer{
	background-color: #054E4E;
	color: #fff;
}

.footer-list , .footer-list-lg{list-style-type: none;}

.footer-list-item{
	margin-bottom: 20px;
}

.footer-list-item:hover{
	color: #FFB82F;
}

.footer-list-item-link{
	text-decoration: none;
	color: #fff;
}

.footer-list-item-link:hover{
	color: #FFB82F;
}

.footer-list-title{
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 7px;
}


.fixyland-footer-logo{
	font-weight: bold;
	font-size: 1.5rem;
}


.social-media-footer i {
	font-size: 2rem;
}


.copyright-footer{
	font-size: 0.7rem;
}
	

/*-----------------------------responsive-------------------------------*/
@media screen and (max-width:576px){
	.body{
		padding-top: 60px;
    }
	
 	#button-toggler-menu{
		margin-top: 2%;
	}
}


@media screen and (min-width:577px){
	.body{
		padding-top: 50px;
    } 
}


@media screen and (min-width:768px){
	.body{
	   padding-top: 70px;
    }
}


@media screen and (min-width:992px){
    .body{
	   padding-top: 90px;
    }
}


@media screen and (min-width:1200px){

}


/*for sec3 swiper-start*/
@media (max-width: 400px) and (min-width: 320px){
	#swiper-slide div { width: 50%;}
}

@media (max-width: 768px) and (min-width: 400px){
	#swiper-slide div { width: 30%;}
}
/*for sec3 swiper-end*/

