@charset "utf-8";


*{
			padding: 0;
			margin: 0;
}



body{
    height: 2000px;
  
}

/*start header*/

	
	
		#form-control{
			border-width: 0;
			background-color: #D1DFFB;
			
		}
		#form-control:focus{
			background-color: #D1DFFB;
			box-shadow: 0 0 0;
		}
	
		.d-flex-border{
			border: solid;
			border-width: 1px;
			border-radius: 15px;
			background-color: #D1DFFB;
		}
		
		.header{
			
			background-color: #054E4E;
			position: fixed;
			top: 0;
			display: block;
			transition: top 0.3s;
			
		}
		
		#form-select-lang {
			border: none;
			border-radius: 12px;
			background-color: #FFB82F
		}
		
		.form-select-lang:focus{
			
			box-shadow: 0 0 0;
			
		}
		
		#yellow{
			background-color: #FFB82F ;
		}

		
		
		
	
		.nav-link-hover{
			color: #fff;
			margin: 10px;
			text-decoration: none;
		}
	
		.nav-link-hover:hover{
			color: #FFB82F ;
		}


  #button-menu1{
	  outline: solid 1px;
	  outline-color: #FFB82F;
	  color: #fff;
	  border-radius: 12px;
      }

       #button-menu1:hover{
			background-color: #FFB82F;
		}

    #button-menu2{
	  border-radius: 12px;
	  background-color: #FFB82F ;
      }

#logo-menu{
	width: 20%;
}

#i-menu{
	font-size: 2em;
}

#button-toggler-menu{
	
	padding: 1px !important;
	
	
	
}

/*end header*/


@media screen and (max-width:600px){
    
 
    
    
}
