@charset "utf-8";

*{padding: 0; margin: 0;}


/*--------------------------------header---------------------------------*/
#form-control{
	border-width: 0;
	background-color: #D1DFFB;
}

#form-control:focus{
	background-color: #D1DFFB;
	box-shadow: 0 0 0;
}

.d-flex-border{
	border: solid;
	border-width: 1px;
	border-radius: 15px;
	background-color: #D1DFFB;
}

.header{
	background-color: #054E4E;
	top: 0;
	display: block;
	transition: top 0.3s;
	padding-bottom: 0;
}

#form-select-lang {
	border: none;
	border-radius: 12px;
	background-color: #FFB82F;
}

.form-select-lang:focus{
	box-shadow: 0 0 0;
}

#yellow{
	background-color: #FFB82F ;
}

.nav-link-hover{
	color: #fff;
	text-decoration: none;
}

.nav-link-hover-black{
	color: #000;
/*	margin: 10px;*/
	text-decoration: none;
  }

.nav-link-hover:hover{
	color: #FFB82F ;
}

.nav-link-hover-black:hover{
   color: #FFB82F ;
}

.nav-link-hover-white{
	color: #fff;
	text-decoration: none;
}

.nav-link-hover-white2{
	color: #FFB82F ;
	text-decoration: none;
}

.sub-menu{
 	list-style-type: none;
}

.sub-menu li{
	 margin-top: 3px; 	
}

.sub-menu-hover li{
	margin-top: 10px;
}

.sub-menu-hover li i{
	display: none;
}

/*
.sub-menu-hover li:hover{
	background-color: #FFB82F;
	border-radius: 10px;
	padding: 2px;
}
*/

.sub-menu-hover-li{
	background-color: #FFB82F;
	border-radius: 10px;
	padding: 2px;
}

.sub-menu-hover li:hover i{
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;

	/*	english*/
	/*	transform: rotate(180deg);*/
	/*	english*/
}


#button-menu1{
	outline: solid 1px;
	outline-color: #FFB82F;
	color: #fff;
	border-radius: 12px;
}

#button-menu1:hover{
	background-color: #FFB82F;
}

#button-menu2{
	border-radius: 12px;
	background-color: #FFB82F ;
}

#logo-menu{
	width: 20%;	
}

#i-menu , #i-menu2{
	font-size: 2em;
}

#button-toggler-menu{
	padding: 1px;
	margin-top: 1%;
}



.li-responsive-toggle{
transform: rotate(180deg);

}





/*-----------------------------------index-----------------------------------*/


/*-----------------index-sec2--------------------*/

#index-sec2{
	padding: 0 5%;
}

.features-box{
	background: #FFF;
	box-shadow: 0px 4px 10px 2.45534px rgba(156, 203, 248, 0.2);
	border-radius: 34px;
}

.features-box-title{
	color: #4077E2;
	font-size: 1.3rem;
	font-weight: bold;
}


/*-----------------index-sec3--------------------*/

#index-sec3{
	background-color: #E5E5E5;
	padding: 1% 1% 5% 1%;
}

.sub-menu2{
	list-style-type: none;
}


.sub-menu-hover2{
	margin-top: 20px;
}


.sub-menu-hover2 i{
	display: none;
}


.sub-menu-hover2 div:hover{
	background-color: #FFB82F;
	border-radius: 10px;
	padding: 5px 5px 7px 2px;
}

.sub-menu-hover2 div:hover i{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;

}


#dastrasi-sari-formcontrol{
	border-width: 0;
	background-color: #fff;
}


 #dastrasi-sari-formcontrol:focus{
	background-color: #fff;
	box-shadow: 0 0 0;
}

.dastrasi-sari-form{
	border-radius: 5px;
	background-color: #fff;
}

.form-parag{
	margin: 0;
	font-weight: bolder;
	margin-top: 15px;
}

.dastrasi-sari-grid , .dastrasi-sari-grid-active{margin: 0;padding: 0;}
.dastrasi-sari-grid .col , .dastrasi-sari-grid-active .col{
	background-color: #054E4E;
	border-radius: 12px;
	padding: 2px 1px;
	color: #fff;
	text-align: center;
}


.swiper {
	width: 100%;
	margin-bottom: 15px;
}

.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
 }

#swiper-slide div{
	width: 20%;
}

.swiper-slide:hover {
	background-color: #FFB82F;
	border-radius: 12px;
	padding: 1px 0 3px 0;
}


/*-----------------index-sec4--------------------*/
#index-sec4{
	padding: 1%;
}

.statistics-box{
	background-color: #054E4E;
	border: 5px solid #000;
	color: #fff;
	height: 200px;
}

.statistics-box p{
	width: 150px;
}



/*-----------------index-sec5--------------------*/
#index-sec5{
	padding: 1% 1% 1% 1%;
}

.maghalat-box{
	padding: 0;
	border-radius: 12px;
	width: 100%;
}

.maghalat-box img{
	border-radius: 12px 12px 0 0 ;
}

.maghalat{
	background-color: #FFD776;
	width: 100%;
	border-radius: 0 0 12px 12px;
	padding: 3px 15px 2px 3px;
}


.maghalat p:nth-child(1){
	font-size: 1.2rem;
	font-weight: bold;
}



/*-----------------index-sec6--------------------*/
#index-sec6{
	padding: 3% 1%;
	margin: 5% 3%;
	background-color: #F4F2F2;

}


/*-----------------index-sec7--------------------*/
#index-sec7{
	padding: 7% 5% 7% 1%;
	margin: 2% 3%;
	background-color: #F4F2F2;

}

#index-sec7 a{
	background: #FFC947;
	border-radius: 15px;
}


/*-----------------------------------terms page-----------------------------------*/
.terms-box{
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 4px 10px 2.45534px rgba(156, 203, 248, 0.2);
	color: #364F6B;
}


/*----------------------------------articles page----------------------------------*/
.article-box{
	width: 95%;
	border-radius: 12px;
	box-shadow: 0px 4px 10px 2.45534px rgba(156, 203, 248, 0.2);
}

.article-box img{border-radius: 12px 12px 0 0;}

.article-box a{color: #000;}

.article-title{
	background-color: #F2F2F2;
	border-radius: 0 0 12px 12px;
	padding: 5px 4%;
}

.article-box:hover{
	opacity: 88%;
	box-shadow: 0px 4px 10px 2.45534px rgba(156, 203, 248, 0.3);	
}

.article-box:hover .art-title{color: #FFB82F;}

.article-box a:hover{color: #000;}


/*----------------------------------articleDescription page----------------------------------*/
.article-search-box{
	height: 350px;
	background: #EFF0F1;
	border-radius: 15px;
	padding: 2%;
}

#article-search-bar{
	width: 90%;
	border: none;
	border-radius: 15px;
	padding-right: 7px;
}

#article-search-bar:focus{outline: none;}

.article-search-form{
	background-color: #fff;
	border-radius: 15px;
	padding-right: 0;
}

#article-search-btn{
	background-color: #FFB82F;
	border-radius: 0 15px 15px 25px;
	color: #fff;
	box-shadow: none;
}

.articles-link a{color: #000;}
.articles-link a:hover{color: #FFB82F;}


/*----------------------------------------- 			-------------------------------------*/













/*------------------------------------------Signup page-------------------------------------*/
#imageSignup{z-index: 0;}




/*-----------------------------------footer-----------------------------------*/
footer{
	background-color: #054E4E;
	color: #fff;
}

.footer-list , .footer-list-lg{list-style-type: none;}

.footer-list-item{
	margin-bottom: 20px;
}

.footer-list-item:hover{
	color: #FFB82F;
}

.footer-list-item-link{
	text-decoration: none;
	color: #fff;
}

.footer-list-item-link:hover{
	color: #FFB82F;
}

.footer-list-title{
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 7px;
}


.fixyland-footer-logo{
	font-weight: bold;
	font-size: 1.5rem;
}


.social-media-footer i {
	font-size: 2rem;
}


.copyright-footer{
	font-size: 0.7rem;
}
	

/*-----------------------------responsive-------------------------------*/
@media screen and (max-width:576px){
	.body{
		padding-top: 60px;
    }
	
 	#button-toggler-menu{
		margin-top: 2%;
	}
}


@media screen and (min-width:577px){
	.body{
		padding-top: 50px;
    } 
}


@media screen and (min-width:768px){
	.body{
	   padding-top: 70px;
    }
}


@media screen and (min-width:992px){
    .body{
	   padding-top: 90px;
    }
}


@media screen and (min-width:1200px){

}


/*for sec3 swiper-start*/
@media (max-width: 400px) and (min-width: 320px){
	#swiper-slide div { width: 50%;}
}

@media (max-width: 768px) and (min-width: 400px){
	#swiper-slide div { width: 30%;}
}
/*for sec3 swiper-end*/



/*------------------------------------global classes-----------------------------------------*/

.darkYellow-text{color: #FFB82F ;}

.darkYellow-text:hover{color: #FFB82Faa;}

.white-text{color: #fff;}

.white-text:hover{color: #FFB82F;}

.darkYellow{background-color: #FFB82F ;}

.darkYellow:hover{background-color: #FFB82Faa ;}

.border-redius-20{border: solid 1px;border-radius: 20px;}

.font-size32{font-size: 32px;}

.lightblue{background-color: #D1DFFB;}

.darkgreen-text{color: #054E4E;}

.lightgreen-text{color: #5FB051;}

.text_justify{text-align: justify;}

.form-bg-color{background-color: #F4F2F2;}


